html {
    font-size: 16px;
}


/* Redimensión de fuente utilizando rem */

p {
    font-size: 1rem;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-size: 2rem;
}


/* clases predefinidas */

* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}


/* Otras clases */

header {
    height: 100vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-2 {
    background-image: url(../img/card-2.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-3 {
    background-image: url(../img/card-3.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-4 {
    background-image: url(../img/card-4.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-5 {
    background-image: url(../img/card-5.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-6 {
    background-image: url(../img/card-6.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-7 {
    background-image: url(../img/card-7.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

#card-8 {
    background-image: url(../img/card-8.jpg);
    height: 65vh;
    background-size: cover;
    background-position: center;
}

.padding-s {
    padding: 1%;
}

footer {
    background-color: rgb(187, 187, 187);
    margin: 0;
}

article {
    background-color: grey;
}

a {
    text-decoration: none;
    color: black;
}

#prefooter {
    background-color: rgb(37, 36, 41);
    color: white;
}

#prefooter p {
    font-size: 0.75rem;
}

@media only screen and (max-width: 600px) {
    /*reglas*/
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 100%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    #caja-10 {
        width: 100%;
    }
}